html {
    height: 100%;
    padding: 0;
}

body {
    background: black url("../images/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    color: white;
    /*font-family: 'Bree Serif', serif;*/
    /*font-family: 'Cherry Cream Soda', cursive;*/
    /*font-family: 'Merienda One', cursive;*/
    /*font-family: 'Lemon', cursive;*/
    /*font-family: 'Salsa', cursive;*/
    font-family: 'Lemonada', cursive;
}

#map {
    border: solid 2px white;
    width: 350px;
    height: 350px;
    padding: 0;
    margin: 0 auto;
}

.panel {
    background: transparent;
}

#right-panel {
    padding: 3px;
    overflow-y: scroll;
    border: solid 2px black;
    color: white;
    margin-left: 15px;
    width: 400px;
    height: 60%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: 400;
}

.submit {
    margin-bottom: 20px;
}

#tracklistcontainer {
    overflow: scroll;
    border: 2px solid white;
    width: 70%;
    height: 300px;
    margin: 0 auto;
    padding: 10px;
}

#tracklist {
    font-size: 25px;
    padding: 5px;
    text-align: left;
}

#tracklist> p {
    padding: 3px;
}

h1 {
    margin-bottom: 15px;
}

h4 {
    margin: 0px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.displaytrack {
    margin: 0px;
    cursor: pointer;
}

.modal-content {
    color: black;
}

.modal-backdrop {
    background-color: transparent;
}

#artist-input {
    width: 80%;
    height: 40px;
    font-size: 20px;
}

#start,
#end {
    border: white !important;
    color: white;
    width: 60%;
    margin: 0 auto;
    height: 40px;
    font-size: 20px;
    color: black;
}

label {
    font-size: 20px;
    margin-right: 10px;
}

i {
    margin-right: 10px;
}

.weather {
    font-size: 20px;
    margin: 0 auto;
}

.weatherStats {
    border: 2px solid white;
    min-height: 200px;
    width: 80%;
    padding: 10px;
}


/* .weather>span {
    margin-left: -100px;
}
*/

#playlistlength {
    margin: 3px;
}

.form-group {
    margin-bottom: 20px;
}

/*
.footer {
    border-top: 2px solid white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    
}*/

footer {
    background-color: rgba(0,0,0,0.6);
    height: 60px;
    padding: 15px;
}
/*  
MEDIA QUERIES FOR MOBILE VIEW
*/

@media (max-width: 500px) {
    #map {
        border: solid 2px white;
        width: 280px;
        height: 280px;
        padding: 0;
        margin: 0 auto;
    }
    .weather {
        margin-left: 20px;
    }
 
    .weatherStats {
        margin-left: 25px;
    }
 
    #right-panel {
        width: 310px;
    }
    #tracklistcontainer {
       width: 310px;
    }
 
}

